<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192309262666-ros71aodtsqvd87v9dtg9v0mtvrtubpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192309262666-ros71aodtsqvd87v9dtg9v0mtvrtubpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCAwkiKMRNwx7HSSHp9o_a6Ddj7lt6qOqc</string>
	<key>GCM_SENDER_ID</key>
	<string>192309262666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ctseProject</string>
	<key>PROJECT_ID</key>
	<string>ctse-33fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>ctse-33fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192309262666:ios:ca9457390daf670c0969b3</string>
</dict>
</plist>